
/* 
	
	Just the page style, if you're looking for the player, see zen.css

*/


/* globals */

html {
	font:62.5%/1 "Droid Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	background: #f0f0f0 url(../img/bg.png);
}

body {
	max-width: 520px;
	margin: 0 auto;
	text-align: center;
}



/* player */

#zen {
	margin: 150px 0;
}

